.main-content__sidebar__tags__buttons {
    display: inline-flex;
    margin-left: 3em;
}

.main-content__sidebar__tags__buttons__btn {
    background-color: #519FD9;
    color: white;
    border: #519FD9;
    margin-right: 0.3em;
    margin-bottom: 0.6em;
}

.newsletter__subscription {
    background-color: coral;
    color: white;
    border: coral;
}