* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}
#site-wrapper {
  margin: 0 auto;
}
@media (min-width: 576px) {
  #site-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #site-wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #site-wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  #site-wrapper {
    width: 960px;
  }
}

h1 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 1em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  padding-top: 2em;
}

.derechos {
  text-align: center;
}

.grid-container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .grid-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .grid-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    width: 1170px;
  }
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px 10px;
  margin-bottom: 10px;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.navigation__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.navigation__menu {
  text-align: right;
  float: right;
}

.navigation__menu ul {
  margin: 0;
}

.navigation__menu ul li {
  display: inline-block;
}

.navigation__menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__menu__input {
  border-radius: 30px;
}

#navigation__menu__item__us {
  display: none;
}
@media (min-width: 576px) {
  #navigation__menu__item__us {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  #navigation__menu__item__us {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  #navigation__menu__item__us {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  #navigation__menu__item__us {
    display: inline-block;
  }
}

.main-content {
  margin: 0 auto;
  clear: both;
}

.main-content__news {
  width: 100%;
  float: left;
}
@media (min-width: 992px) {
  .main-content__news {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-content__news {
    width: 700px;
  }
}

.main-content__news__item {
  margin: 0px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .main-content__news__item {
    width: 100%;
    display: block;
  }
}
@media (min-width: 768px) {
  .main-content__news__item {
    width: 48%;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .main-content__news__item {
    width: 210px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .main-content__news__item {
    width: 210px;
    display: inline-block;
  }
}

.main-content__news__item__body img {
  width: 210px;
  height: 300px;
}

.main-content__news__item__body p {
  padding: 5px 10px;
}

.main-content__news__item__body__img {
  height: 250px;
  overflow: hidden;
}

.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}

.newsletter h2 {
  font-size: 24px;
}

.newsletter__subscription input,
.newsletter__subscription button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.newsletter__subscription button {
  background-color: coral;
  color: white;
}

.main-content__sidebar {
  float: right;
  display: none;
}
@media (min-width: 992px) {
  .main-content__sidebar {
    display: block;
  }
}
@media (min-width: 1200px) {
  .main-content__sidebar {
    display: block;
  }
}

.main-content__sidebar__about {
  width: 220px;
  border-bottom: 1px solid gray;
}

.main-content__sidebar__news {
  margin-bottom: 50px;
}

.main-content__sidebar__news img {
  width: 220px;
  height: 200px;
}

.main-content__sidebar__tags {
  border-bottom: 1px solid gray;
}

.main-content__sidebar__tags ul {
  padding: 0;
  list-style: none;
}

.main-content__sidebar__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline-block;
}

.footer {
  text-align: center;
  background-color: #EFEFEF;
  width: 100%;
  margin-top: 3em;
}

.input__menu-footer {
  margin-bottom: 2em;
  border-color: #EFEFEF;
}

/*# sourceMappingURL=main.css.map */
